@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

/*
  font-family: 'Poppins', sans-serif;
  font-family: $font-primaria;
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  animation: transitionIn 0.75s;
}

@keyframes transitionIn {
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* Body */

body{
  background-color: #000;
}

.index{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.25rem 1fr 11.5rem;
}

.productos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.25rem 1fr 11.5rem;
}

.nosotros{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.25rem 1fr 11.5rem;
}

.galeria{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.25rem 1fr 11.5rem;
}

.contacto{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6.25rem 1fr 11.5rem;
}


/* Comienza Header*/

.container_header{
  width: 100%;
  height: 6.25rem;
  background-color: #000;
  align-items: center;
  position: relative;
  z-index: 100000;
}

nav{
  height: 6.25rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bar-btn{
  font-size: 1.5625rem;
  color: white;
  margin-right: 1.8rem;
  cursor: pointer;
}

.bar-btn i{
  color:white;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 6.25rem;
  background: white;
  text-align: center;
  padding-left: 0rem;
}

.nav-menu li{
  list-style: none;
  display: none;
  line-height: 1.875rem;
  margin: 3.125rem 0rem;
}

.nav-menu li a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

nav-menu li a.active, .nav-menu li a:hover{
  color: #ffff;
  transition: all 0.3s;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
  transition: all 0.3s;
}

#check:checked ~ .nav-menu li{
  display: block;
}

.logo_siri img{
  width: 7rem;
  margin-left: 25px;
}

/* Termina Header*/

/*Comienza Inicio*/


.container_categorias{
  font-family: $font-primaria;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: space-around;
  align-items: center;
  margin: 3.125rem .625rem;
}

.categoria_productos,
.categoria_mayorista,
.categoria_ofertas{
  display: flex;
  flex-direction: row;
  font-size: 1.125rem;
  border-radius: .625rem;
  padding: .625rem 0rem .625rem .625rem;
  transition: all 0.3s;
  width: 83%;
  box-shadow: 0rem 0rem .625rem white;
}

.categoria_productos a,
.categoria_mayorista a,
.categoria_ofertas a{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .625rem;
  font-family: $font-primaria;
  text-decoration: none;
}

.categoria_productos a h3,
.categoria_mayorista a h3,
.categoria_ofertas a h3{
  color: white;
  margin-bottom: 0rem;
}


.container_productos{
  display: grid;
  grid-template-columns: repeat(
    auto-fit, minmax(15rem , 1fr) );
  ;
  gap: 1.25rem;
  margin:0rem 0rem 2.5rem 1.875rem;
  transition: all 0.3s;
}

.producto_apple{
  font-family: $font-primaria;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  margin-left: 1.25rem;
}

.producto_apple h3{
  margin-bottom: 0rem;
  transition: all 0.3s;
  color: white;
}

.producto_apple p{
  color:grey;
  margin-bottom: 0rem;
  transition: all 0.3s;
}

.producto_apple img{
  width: 13.125rem;
  margin: .4375rem 0rem;
  transition: all 0.3s;
}

.boton_producto{
  padding: .625rem 0rem;
  border-radius: .625rem;
  padding: .625rem .625rem;
  border: .0625rem solid white;
  width: 5.625rem;
  text-align: center;
  transition: all 0.3s;
}

.boton_producto a{
  color: white;
  font-family: $font-primaria;
  text-decoration: none;
  transition: all 0.3s;
}

.container_fotografia{
  width: 100%;
  margin: 1.875rem 0rem;
  transition: all 0.3s;
}

.container_fotografia h2{
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  box-shadow: 0rem 0rem .625rem white;
  padding: .625rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
}

.nikon{
  width: 100%;
  height: 6.25rem;
  background-image: url(../assets/Inicio/nikon.jpg);
  background-position:center;
  background-size: cover;
  background-position-y:26%;
  text-align: center;
  border: .125rem solid white;
  margin-bottom: .1875rem;
}

.fondo_nikon{
  background-color: rgba(0, 0, 0, 0.462);
  width: 100%;
  height: 6.25rem;
}

.nikon a, .canon a, .sony a{
  background-color: rgba(0, 0, 0, 0.861);
  color: white;
  padding: .5rem 1.875rem;
  border-radius: 1.25rem;
  border: .0625rem solid white;
  font-size: 1.25rem;
  position: relative;
  top: 2.5rem;
  font-family: $font-primaria;
  text-decoration: none;
}

.canon{
  width: 100%;
  height: 6.25rem;
  background-image: url(../assets/Inicio/canon.jpg);
  background-position:center;
  background-size: cover;
  background-position-y:30%;
  text-align: center;
  border: .125rem solid white;
  margin-bottom: .1875rem;
}

.fondo_canon{
  background-color: #ffa51d5e;
  width: 100%;
  height: 6.25rem;
}


.sony{
  width: 100%;
  height: 6.25rem;
  background-image: url(../assets/Inicio/sony.jpg);
  background-position:center;
  background-size: cover;
  background-position-y:37%;
  text-align: center;
  border: .125rem solid white;
}

.fondo_sony{
  background-color: rgba(0, 0, 0, 0.529);
  width: 100%;
  height: 6.25rem;
}

/*Termina Inicio*/

/* Comienza Footer*/

footer{
  background-color: rgb(0, 0, 0);
}

.container_footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.ul_footer{
  display: flex;
  flex-direction: column;
  gap: .3125rem;
  padding-left: .625rem;
}

.ul_footer li{
    list-style: none;

}

.navbar_footer ul li a{
  color: white;
  font-family: $font-primaria;
  text-decoration: none;
}

.redes_subscripcion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem;
  gap: .625rem;
}

.redes_footer{
  margin: .625rem 0rem;
  display: flex;
  flex-direction: row;
}

.redes_footer a img{
  width: 2.5rem;
}

.suscripcion{
  display: flex;
  flex-direction: column;
  border: .0625rem solid white;
  border-radius: .625rem;
  max-width: 9.375rem;
}

.suscripcion input{
  padding: .3125rem;
  margin: .3125rem;
  border: transparent;
  background-color: transparent;
  text-align: center;
  max-width: 8.75rem;
  color: white;
}

.suscripcion input::placeholder{
  color:white;
}

.suscripcion button{
  font-family: $font-primaria;
  padding: .6875rem 3.25rem;
  border: transparent;
  background-color: white;
  color: black;
  border-radius: 0rem 0rem .4375rem .4375rem;
}

/*Termina Footer*/

/*Comienza Nosotros*/

.titulo_nosotros{
  text-align: center;
  margin: 1.625rem 0rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.texto_nosotros{
  margin: .625rem 1.875rem;
  font-family: $font-primaria;
  padding: 0rem .5625rem ;
  color: white;
  font-size: 1.125rem;
}

.texto_nosotros h2{
  font-weight: bold;
  margin-bottom: 1.25rem;
}

.texto_nosotros span{
  font-weight: bold;
}

/*Termina Nosotros*/

/*Comienza Producto*/

.titulo_productos{
  text-align: center;
  margin: .625rem 0rem;
  font-family: 'Poppins', sans-serif;
  font-size: .875rem;
  color: white;
}

.container_marcas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .9375rem;
  margin: 1.875rem 0rem;
}

.marcas{
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  box-shadow: 0rem 0rem .625rem white;
  }

.marcas img{
  width: 3.75rem;
  border-radius: 50%;
  border: .0625rem solid black;
}

.gift{
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  box-shadow: 0rem 0rem .625rem white;
}

.gift img{
  width: 3.75rem;
  border-radius: 50%;
  border: .0625rem solid black;
}

.subtitulo_producto{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
  font-family: $font-primaria;
  padding: .625rem;
  box-shadow: 0rem 0rem .625rem white;
}

.subtitulo_producto a img{
  width: 3.125rem;
  margin-right:0.625rem;
}

.subtitulo_producto h2{
  margin-bottom: 0rem;
  margin-left:0.625rem;
}

.container_productos_apple,
.container_productos_nikon,
.container_productos_canon,
.container_productos_sony{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
  margin: 2.8125rem .625rem 1.5625rem 0rem;
}

.container_productos_apple div,
.container_productos_nikon div,
.container_productos_canon div,
.container_productos_sony div{
  width: 15rem;
}

/*Termina Producto*/

/*Comienza Galeria*/

.titulo_galeria{
  text-align: center;
  margin: 1.875rem 0rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.container_fotos_galeria{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 3.125rem;
}

.container_fotos_galeria img{
  box-shadow: 0rem 0rem .625rem white;
  width: 17rem;
}

/*Termina Galeria*/

/*Comienza Contacto*/

.titulo_contacto{
  text-align: center;
  margin-top: 1.875rem;
  margin-bottom: .625rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.redes_contacto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
  margin: 1.875rem 0rem 2.5rem 0rem;
}

.redes_contacto a img{
  width: 3.125rem;
}

.container_formulario{
  margin:50px 0px;
}

.formulario_contacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0rem 1.25rem 0rem 1.25rem;
  gap: 1.25rem;
  transition: all 0.3s;
  align-items: center;
}

.nombre_apellido_email{
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
  transition: all 0.3s;
}

.nombre_apellido_email input{
  font-family: $font-primaria;
  border-radius: .3125rem;
  border: .0625rem solid black;
  padding: .625rem 6.75rem .5rem .3125rem;
  transition: all 0.3s;
}

.formulario_contacto textarea{
  padding: .3125rem 0rem 0rem .3125rem;
  resize: none;
  font-family: $font-primaria;
  border-radius: .3125rem;
  border: .0625rem solid black;
  max-width: 17.5rem;
  transition: all 0.3s;
}

.boton_formulario{
  text-align: center;
}

.boton_formulario input{
  padding: .625rem 1.5625rem;
  border-radius: .3125rem;
  font-family: $font-primaria;
  font-weight: bold;
  border: .0625rem solid black;
  background-color: transparent;
  transition: all 0.3s;
}

.mail_ubicacion{
  margin-bottom: 2.5rem;
}

.email{
  color:white;
  display: flex;
  flex-direction: row;
  gap: .625rem;
  justify-content: center;
}

.email p,
.ubicacion p{
  font-size: 1.25rem;
  margin-top: .3125rem;
}

.email a img{
  width: 2.5rem;
}

.ubicacion{
  color:white;
  display: flex;
  flex-direction: row;
  gap: .625rem;
  justify-content: center;
}

.ubicacion a img{
  width: 2.5rem;
  margin-left: .875rem;
}

/*Termina Contacto*/

@media screen and (min-width: 48rem){

  .active{
    box-shadow: 0rem 0rem .625rem white;
    border-radius: .3125rem;
  }

  .redes_contacto{
    margin: 2.5rem 0rem 3.5rem 0rem;
  }

  .container_footer{
    margin-top: 3rem;
  }

  .redes_subscripcion{
    flex-direction: row;
    gap: 1.25rem;
  }

  .redes_footer{
    gap: .625rem;
  }

  .suscripcion{
    flex-direction: row;
    margin-right: 7.5rem;
    gap: .3125rem;
  }

  .suscripcion input{
    padding: 0rem;
    border: transparent;
    background-color: transparent;
    text-align: center;
    max-width: 8.75rem;
  }

  .suscripcion button{
    border-radius: .4375rem;
    padding: .6875rem 2.1875rem;
  }

  .formulario_contacto{
    display: flex;
    flex-direction: row;
  }

}

@media screen and (min-width: 56.25rem){
  .container_categorias{
    flex-direction: row;
  }

  .categoria_productos,
  .categoria_mayorista,
  .categoria_ofertas{
    justify-content: center;
    margin-right: .625rem;
    margin-left: .625rem;
  }
}

@media screen and (min-width: 64rem){
  .bar-btn{
    display:none;
  }

  .nav-menu{
    position: relative;
    height: 6.25rem;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 1.25rem;
    margin-bottom: 0rem;
  }

  .nav-menu li{
    display: inline-block;
    line-height: 6.25rem;
    margin: 0;
    transition: none;
  }

  .nav-menu li a{
    font-size: 1.25rem;
    padding: 0rem .625rem;
    color: white;
  }
}
