.boton_producto_index{
  padding: .625rem 0rem;
  padding: .625rem .625rem;
  border: .0625rem solid $color-bordes;
  border-radius: .625rem;
  width: 5.625rem;
  text-align: center;
  transition: all 0.3s;
  margin-top: .625rem;
}