$bg-1: #000;
$bg-2: #fff;
$bg-fondo-botones: #000;
$bg-fondo-botones2: #fff;
$bg-transparente1:rgba(0, 0, 0, 0.462);
$bg-transparente2:rgba(0, 0, 0, 0.861);
$bg-transparente3:#ffa51d5e;
$color-texto: #fff;
$color-texto2: #000;
$color-texto3: grey;
$color-bordes: #fff;
$color-bordes2: #000;
$color-1: #fff;
$color-shadow1: #fff;
$bg-boton-canon: url(../assets/Inicio/canon.jpg);
$bg-boton-nikon: url(../assets/Inicio/nikon.jpg);
$bg-boton-sony: url(../assets/Inicio/sony.jpg);
$font-primaria: 'Roboto', sans-serif;
$font-secundaria: 'Poppins', sans-serif;

