@media screen and (min-width: 56.25rem){
  body{
    .index,
    .carrito{
      main{
        .container_categorias{
          flex-direction: row;
          .categoria_productos,
          .categoria_mayorista,
          .categoria_ofertas{
            justify-content: center;
            margin-right: .625rem;
            margin-left: .625rem;
          }
        }
      }
    }
    .contacto{
      .main_contacto{
        .mapa{
          width: 600px;
        }
      }
    }
    .main_carrito{
      .contenedor_lista{
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}

