@media screen and (min-width: 64rem){
  body{
    .index,
    .contacto,
    .nosotros,
    .productos,
    .galeria,
    .carrito{
      header{
        .container_header{
          nav{
            .bar-btn{
              display:none;
            }
            .nav-menu{
              position: relative;
              height: 6.25rem;
              top: 0;
              background: none;
              transition: none;
              text-align: right;
              margin-right: 3.25rem;
              margin-bottom: 0rem;
              display: flex;
              flex-direction: row;
              justify-content: end;
              align-items: center;
              gap: 5px;
              li{
                display: inline-block;
                line-height: 6.25rem;
                margin: 0;
                transition: none;
                a{
                  font-size: 1.25rem;
                  padding: 0rem .625rem;
                  color: $color-texto;
                }
                .contenedor_carrito{
                  .carrito-blanco{
                    display: block;
                    position: absolute;
                    top: 33px;
                    right: 44px;
                    z-index: 100;
                  }
                }
              }
            }
          }
        }
      }
      .main_carrito{
        .contenedor_lista{
          flex-direction: column;
          .articulo_carrito{
            flex-direction: row;
            flex-wrap: nowrap;
            width: 850px;
            .contenedor_descripcion{
              flex-direction: row;
              flex-wrap: nowrap;
              gap: 80px;
              .nombre,
              .cantidad,
              .precio,
              .subtotal{
                flex-direction: column;
              }
            }
          }
        }
        .contenedor_compra{
          flex-direction: row;
          justify-content: space-around;
        }
      }
      .main_contacto{
        .mail_ubicacion{
          .email{
            flex-direction: row;
            align-items: center;
            p{
              margin-bottom: 0rem;
            }
            margin-bottom: 1.25rem;
          }
          .ubicacion{
            flex-direction: row;
            align-items: center;
            p{
              margin-bottom: 0rem;
            }
          }
        }
        .mapa{
          width: 800px;
        }
      }
    }
  }
}

