body{
  .Gallery{
    header{
      .contenedor_carrito{
        .carrito{
          bottom: 35px;
        }
      }
    }
    main{
      .titulo_Gallery{
        text-align: center;
        margin: 1.875rem 0rem;
        font-family: $font-secundaria;
        color: $color-texto;
      }
      .container_fotos_Gallery{
        @include flex (row, wrap, center, none, 1.625rem);
        margin-bottom: 3.125rem;
        img{
          box-shadow: 0rem 0rem .625rem $color-shadow1;
          width: 17rem;
        }
      }
    }
  }
}
