body{
  header{
    .contenedor_carrito{
      .carrito{
        bottom: 35px;
      }
    }
  }
  .main_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titulo_contacto{
      text-align: center;
      margin-top: 1.875rem;
      margin-bottom: .625rem;
      font-family: $font-secundaria;
      color: $color-texto;
    }
    .redes_contacto{
      @include flex (row, none, center, none, 1.25rem);
      margin: 1.875rem 0rem 2.5rem 0rem;
      a{
        img{
          width: 3.125rem;
        }
      }
    }
    .container_formulario{
      margin:3.125rem 0rem;
      .formulario_contacto{
        @include flex (column, none, center, center, 1.25rem);
        margin: 0rem 1.25rem 0rem 1.25rem;
        transition: all 0.3s;
        .nombre_apellido_email{
          @include flex (column, none, none, none, 1.3125rem);
          transition: all 0.3s;
          input{
            font-family: $font-primaria;
            border-radius: .3125rem;
            border: .0625rem solid $color-bordes2;
            padding: .625rem 6.6rem .5rem .3125rem;
            transition: all 0.3s;
          }
        }
        .textarea{
          resize: none;
          font-family: $font-primaria;
          border-radius: .3125rem;
          border: .0625rem solid $color-bordes2;
          max-width: 17.5rem;
          transition: all 0.3s;
        }
        .textarea::placeholder{
          padding: .3125rem .3125rem;
        }
        .boton_formulario:hover{
          box-shadow: 0rem 0rem .625rem $color-shadow1;
          transform: scale(1.1);
          transition: all 0.5s;
        }
      }
    }
    .mail_ubicacion{
      margin-bottom: 2.5rem;
      .email{
        color:$color-texto;
        @include flex (column, none, center, none, 0.3125rem);
        text-align: center;
        p{
          font-size: 1.25rem;
        }
        a{
          img{
            width: 2.5rem;
          }
        }
      }
      .ubicacion{
        color:$color-texto;
        @include flex (column, none, center, none, 0.3125rem);
        text-align: center;
        p{
          font-size: 1.25rem;
        }
        a{
          img{
            width: 2.5rem;
          }
        }
      }
    }
    .mapa{
      width: 250px;
      height: 200px;
      border-radius: 10px;
      margin-bottom: 50px;
    }
  }
}
